:host {
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  width: 20.312rem;
}

.content {
  height: 25.625rem;
  padding: 2rem 1.562rem;
}

h1 {
  color: var(--color-neutral-dark-blue);
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: -0.2px;
  margin-bottom: 1.2rem;
}

p {
  color: var(--color-neutral-desaturated-blue);
  font-size: 0.93rem;
  line-height: 1.65;
  margin: 0 auto 1.5rem;
  width: 15.312rem;
}

.plan {
  background-color: var(--color-neutral-very-pale-blue);
  border-radius: 10px;
  display: grid;
  grid-template-areas:
    "img type  a"
    "img price a";
  grid-template-columns: 4.1rem;
  justify-items: start;
  margin-bottom: 1.562rem;
  padding: 1rem;
  row-gap: 3px;
}

.music {
  grid-area: img;
}

.type {
  align-self: end;
  color: var(--color-neutral-dark-blue);
  font-size: 0.85rem;
  font-weight: 900;
  grid-area: type;
}

.price {
  align-self: start;
  color: var(--color-neutral-desaturated-blue);
  font-size: 0.9rem;
  grid-area: price;
}

.change {
  align-self: center;
  font-size: 0.8rem;
  font-weight: 900;
  grid-area: a;
  justify-self: end;
}

.change:active {
  color: var(--color-neutral-desaturated-blue);
}

ul {
  list-style-type: none;
}

.proceed {
  font-weight: 700;
  margin-bottom: 1.8rem;
}

.cancel {
  font-weight: 900;
}

.button {
  border-radius: 10px;
  font-size: 0.95rem;
}

@media (min-width: 90rem) {
  :host {
    width: 28.125rem;
  }

  .content {
    height: 30rem;
  }

  h1 {
    font-size: 1.75rem;
  }
}
