<main>
  <article>
    <mat-card
      ><img
        mat-card-image
        src="../assets/images/illustration-hero.svg"
        alt="Hero"
      />
      <div class="content">
        <h1>Order Summary</h1>
        <p>
          You can now listen to millions of songs, audiobooks, and podcasts on
          any device anywhere you like!
        </p>
        <div class="plan">
          <img src="../assets/images/icon-music.svg" alt="Music" /><span
            class="type"
            >Annual Plan</span
          ><span class="price">$59.99/year</span><a href="">Change</a>
        </div>
        <ul class="buttons">
          <li><a mat-raised-button>Proceed to Payment</a></li>
          <li><a mat-button>Cancel Order</a></li>
        </ul>
      </div>
    </mat-card>
  </article>
</main>
