/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --color-primary-pale-blue: hsl(225, 100%, 94%);
  --color-primary-bright-blue: hsl(245, 75%, 52%);

  --color-neutral-very-pale-blue: hsl(225, 100%, 98%);
  --color-neutral-desaturated-blue: hsl(224, 23%, 55%);
  --color-neutral-dark-blue: hsl(223, 47%, 23%);
}

html,
body {
  height: 100%;
}

body {
  align-items: center;
  background-color: var(--color-primary-pale-blue);
  background-image: url(assets/images/pattern-background-mobile.svg);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  font-family: "Red Hat Display", Roboto, "Helvetica Neue", sans-serif;
  font-weight: 500;
  justify-content: center;
}

@media (min-width: 90rem) {
  body {
    background-image: url(assets/images/pattern-background-desktop.svg);
    background-position-y: top;
  }
}
